.plumber_page{
    display: flex;
    margin-top: 100px;
}

.plumber_div_1{
    /* margin-top: 100px; */
    width:100%;
    max-width: 25%;
    height: 500px;
    border: 1px solid black;
    background-color: blueviolet;
    position: sticky;
    top :0px;
}

.plumber_div_2{
    padding: 0px 15px 0px 20px;
}

.plumber_div_3{
    width:100%;
    max-width: 25%;
    height:500px;
    border: 1px solid black;
    background-color:yellow;
    position: sticky;
    top:0px;    
}

.plumber_profile{
    border: 1px solid grey;
    background-color: #fff;
    border-radius: 5px;
    width:100%;
    max-width:665px;
    height:auto;
    /* margin-top: 10px; */
}

.plumber_profile + div  {
    margin-top: 10px;
}


.plumber_profile_inner{
    display: flex;
    align-items: center;
   padding: 5px 10px 5px 10px;
}
/* 
.plumber_image_size{
     width:150px;
     height:150px;
} */

.plumber_img{
    width:150px;
    height:150px;
}

.ratings_image{
    width:100px;
    height:27px;
}

.plumber_bio{
    padding: 0px 10px 0px 10px;
    width:100%;
    max-width:400px;
}

.profile_address{
    margin-top: -5px;
    margin-left: 5px;
}

.plumber_booking_btn{
   outline:none;
   border: none;
   color:#fff;
   background-color: rgb(218, 32, 32);
   border-radius: 10px;
   width:90px;
   height: 35px;
} 