.footer_content{
    display: flex;
    justify-content: space-around;
    background-color:#f1f3f6;
    padding: 40px 10px 40px 10px;
    margin-top: 30px;
  }
  
  .footer_content h2{
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
  }
  
   .left_div{
   flex-basis: 50%;
  }
  
  .left_div div{
    margin-top: 15px;
  }
  
  .social_links{
    display: flex;
    justify-content: space-between;
  }
  
  .social_links a{
    margin-left: 10px;
     
  }
  .border_div{
    border-right: 1px solid black;
    height:80px;
    width:30px;
  }
  
  .payment_div img{
    margin-left: 10px;
  }
  
  .social_links a i{
      font-size: 18px;
      /* margin: 20px 0px 0px 0px; */
      color: white;
      height: 35px;
      width:35px;
      line-height: 35px;
      text-align: center;
      background-color: rgb(49, 42, 42);
      border-radius: 5px;
    }
  
    .social_links a i:hover{
      background-color:#2874f0;
    }
  
  .div_content{
      padding: 10px;
  }
  
  .div_content div{
     margin-top: 10px;
  }
  
  .div_content span{
      margin-left: 15px;
  }
  
  .right_div div{
    margin-top: 20px;
  }
  
  .email_box{
    width:190px;
  }
  
  .footer_button{
    border: 1px solid grey;
    padding: 1px 10px 1px 10px;
  }
  
  .policy {
    background-color: #2874f0;
  }
  .policy ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    justify-items: center;
  }
  .policy ul li {
    padding: 15px;
  }
  .policy ul li a {
    text-decoration: none;
    color: white;
  }
  .policy ul li span {
    color: white;
  }
  
  .footer {
    text-align: center;
    border-bottom: 1px solid black;
  }
  
  .contact_us_head{
    font-weight: 600;
  }
  