.header{
    padding: 20px 5px 10px 5px;
    border: 1px solid rgb(59, 50, 50);
    position: fixed;
    z-index: 1;
    top:0px;
    /* right: 0px;
    left: 0px;  */
    background-color: #2874f0;
    width:100%;
    height:70px;
    box-sizing: border-box;
    }
   
   .header_content{
    display: flex;
    justify-content:space-between;  
   }
   
   .header_content .header_content_div{
   padding: 0px 15px 0px 0px;
   }
   
   .company_logo{ 
       width:150px;
      height:50px;
      position: relative;
      top:-10px;
      left:50px;
   }

   .d_flex{
    display: flex;
   }

   ul li{
    list-style-type: none;
    }
    
    a{
    text-decoration: none;
    }

    .header_menu, .header_unorder{
        display: flex;
        }
        
        /* form{
          display: flex;
          background-color: #fff;
          border-radius: 5px;
        }
        .search_button{
          border: none;
          border-radius: 0px 5px 5px 0px;
        }
        
        #search_bar:focus{
          outline: none;
        }
        
        #search_bar{
          width:100%;
          min-width: 140px;
          border-radius: 5px;
          border: 1px solid white;
        } */
       
        /* .header_border_left{
          border-right:1px solid black;
          padding-left: 25px;
          height:30px;
          max-width:20px
        }
        */
        
        .service_man__register{
        color:#fff;
        font-weight: 500;
        padding: 5px;
        border-radius: 5px;
        border:none;
        outline: none;
        /* border: 1px solid black; */
        /* background-color: rgb(212, 94, 114); */
        /* background-image: linear-gradient(to right ,rgb(143, 4, 143), #eb12be); */
        background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #aa8fd8);
        
        margin-top: -5px;
        width:185px;
        margin-right: 20px;
        }
        
          /* .service_man__register:hover{
            color:white;
            background-color:#538eee;
          }
          */
        /* .header_border_right{
          border-right:1px solid black;
          padding-right: -20px;
          height:30px;
          max-width:20px
        } */
        
         /* .header_list{
        padding-right: 20px;
        } */
        
        /* .header_link{
        text-decoration: none;
        font-weight:500;
        color:#f0f0f0;
        padding: 5px;
        border-radius: 10px;
        } */
        
        /* .header_link:hover{
          color:white;
          background-color:#538eee;
        }
         */
        /* #header_icon{
        color:#fff;
        margin-right: 3px;
        }
         */
        /* #header_icon:hover{
           color:#fff;
           transform: scale(1.4);
           z-index: 1;
        } */
        
        /* offcanvas content */
      
        
        #offcanvasRight{
          width:22%;
          border-radius: 0px 0px 0px 20px;
         background-color: #f1f3f6;
         transition: 0.5s;
        
        }
        
        .offcanvas-header{
          border: 1px solid #2874f0;
          border-radius: 0px 0px 20px 0px;
          background-color:#2874f0;
          color:#fff;
          width:90%;
          height:65px;
          /* margin-right: 10px; */
        }
        
        .offcanvas-header h4{
          /* padding: 5px; */
          margin-left: 10px;
        }
        
        .offcanvas_menu_btn{
          width:100%;
          height:60px;
          margin-top: 3px;
          border: none;
          background-color: #f1f3f6;
        }
        
        
        .offcanvas_menu_item_img{
          border: 1px solid #2874f0;
          /* padding: 13px 16px 13px 17px; */
          font-size: 25px;
          padding: 7px 12px 10px 12px;
          border-radius: 15px;
          background-color:#2874f0;
          color:skyblue;
        } 
        
        .offcanvas_menu_item{
          display: flex;
          /* justify-content:space-evenly; */
          align-items: center;
          margin-left: 10px;
        }
        
        .offcanvas_menu_item_name{
          margin-left: 10px;
        }
        
        .offcanvas_font_img{
          width:30px;
          height: 30px;
        }
        
  
        #off_canvas{
          width:90px;
          height: 35px;
          border: 1px solid #2874f0;
          border-left:none;
          border-radius: 0px 5px 5px 0px;
          color:#fff;
          background-color:rgba(174, 203, 254, 0.8);
          font-weight:500;
          font-size:15px;
          margin-top: -5px;
         }

         #menu_space{
            margin-right: 3px;
         }

         #off_canvas:hover{
          background-color:#f1f3f6; 
          color:rgb(63, 63, 63);
          font-weight: 500;
          transition: 0.1s;
         }
        
        .sign_in__buttton{
        width:90px;
        height: 35px;
        border: 1px solid #2874f0;
        border-radius: 5px 0px 0px 5px;
        color:#fff;
        background-color: rgba(255,255,255,0.33);
        font-weight:500;
        font-size:15px;
        margin-top: -30px;
        }
        
        .sign_in__buttton:hover{
          background-color:#f1f3f6; 
          color:rgb(63, 63, 63);
          font-weight: 500;
          transition: 0.1s;
        }
        
        #sign_icon{
          font-size: 16px;
          margin-right: 3px;
        }